body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.header{
    color: rgb(0, 0, 0,0.5);
}
#menu{
    padding-right: 20px;
}
.container{
    width: 700px;
    height: 300px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top{
    margin-bottom: 40px;
    border-spacing: 10px;
    width: 400px;
}
.elite{
    font-size: 30px;
    font-weight: bold;
}
#num{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0,0.2);
    text-align: center;
}
.number{
    font-size: 30px;
}
#usd{
    padding-top: 20px;
    text-align: center;
}
.bot{
    display: flex;
}
.total,.accumulated,.exp{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 10px ;
}
.total{
    background-color: #4A00EB;
    padding-left: 30px;
    padding-right: 30px;
}
.accumulated{
    background-color: #FF8A49;
}
.exp{
    background-color: #00D17A;
    padding-left: 30px;
    padding-right: 30px;
}