header{
    height: 100px;
    background-color: #eaeaea;
    border: 1px solid black;
    display: flex;
}
img{
    width: 150px;
}
span:first-child{
    margin-right: 100px;
}
.item{
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-family: Cabin, sans-serif;
}
.lang{
    width: 200px;
    text-align: right;
}